.footer {
  position: sticky;
  height: 60vh;
  width: 100%;
  background: #000;

  .mainHeading {
    h1 {
      color: #fff;
      font-family: 'Montserrat', sans-serif;
      font-size: 200px;
    }
  }
}